---
import { Image, getImage } from 'astro:assets'

import BaseLayout from '~/layouts/base-layout.astro'

import {
  castle_in_the_sky,
  lost_at_sea,
  magic_bonsai,
  money_tree,
  book_store_1,
  book_store_2,
  hero_pattern,
} from '~/assets'

import { SITE_TITLE_HOME } from '~/consts'

const optimizedBackground = await getImage({
  src: hero_pattern,
  format: 'avif',
})
---

<BaseLayout site_title={SITE_TITLE_HOME}>
  <section id='hero-main'>
    <!-- Background Img -->
    <div
      class='relative h-[525px] overflow-hidden bg-cover bg-center bg-no-repeat p-12 text-center'
      style={`background-image: url(${optimizedBackground.src});`}
    >
      <div
        class='absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed'
      >
        <div
          class='container m-auto flex h-full max-w-7xl items-center justify-center'
        >
          <figure>
            <blockquote
              class='px-6 text-3xl/loose font-semibold italic text-white'
            >
              "Tomorrow is going to be different than yesterday, it's going to
              be a lot different."
            </blockquote>
            <figcaption
              <cite
              class='pl-10 text-xl font-bold text-secondary md:text-2xl'
            >
              &mdash; David Gerrold
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section id='books-list'>
    <div class='container m-auto max-w-7xl px-6 py-12'>
      <div class='grid grid-cols-2 gap-4 text-center md:grid-cols-4'>
        <!-- TODO BREAK INTO COMPONENT CARDS -->
        <div class='max-w-sm border p-6'>
          <Image
            src={lost_at_sea}
            alt='Lost at Sea by Michael Shane'
            class='h-auto w-[250px]'
            format='avif'
          />
          <p class='pt-6 text-sm'>Lost At Sea</p>
        </div>
        <div class='max-w-sm border p-6'>
          <Image
            src={magic_bonsai}
            alt='Magic Bonsai by Michael Shane'
            class='h-auto w-[250px]'
            format='avif'
          />
          <p class='pt-6 text-sm'>Magic Bonsai</p>
        </div>
        <div class='max-w-sm border p-6'>
          <Image
            src={castle_in_the_sky}
            alt='Castle In The Sky by Michael Shane'
            class='h-auto w-[250px]'
            format='avif'
          />
          <p class='pt-6 text-sm'>Castle In The Sky</p>
        </div>
        <div class='max-w-sm border p-6'>
          <Image
            src={money_tree}
            alt='Money Tree by Michael Shane'
            class='h-auto w-[250px]'
            format='avif'
          />
          <p class='pt-6 text-sm'>Money Tree</p>
        </div>
      </div>
    </div>
  </section>
  <section id='events'>
    <div class='container m-auto max-w-7xl space-y-8 px-6 py-12'>
      <h3 class='text-center text-3xl'>Upcoming Events</h3>
      <div class='grid grid-cols-1 gap-4 md:grid-cols-2'>
        <div class='flex gap-6'>
          <Image
            src={book_store_1}
            alt='Event Book Store'
            class='h-64 w-64'
            format='avif'
          />
          <div class='flex flex-col gap-2'>
            <p>September 6, 2023</p>
            <h3 class='text-xl font-bold text-sky-800'>Book Signing</h3>
            <p>
              Join bestselling author Michael Shane for an enchanting book
              signing event on September 6, 2023, where the magic of his words
              comes to life.
            </p>
          </div>
        </div>
        <div class='flex gap-6'>
          <Image
            src={book_store_2}
            alt='Event Book Store '
            class='h-64 w-64'
            format='avif'
          />
          <div class='flex flex-col gap-2'>
            <p>November 6, 2023</p>
            <h3 class='text-xl font-bold text-sky-800'>Book Signing</h3>
            <p>
              Join bestselling author Michael Shane for an spellbinding book
              signing event on November 6, 2023, where the magic of his words
              comes to life.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
